<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cv de {{ lastName | upper}} {{ firstName | upper}}</title>
</head>
<body>
	<p>Bonjour</p>
	<p>je m'appele {{ firstName| default('anis') | upper}} {{lastName| default('hamouda') | upper}}</p>
	<p>J'ai {{ age | default(21) |abs }}</p>
	<p>Et je suis de la section {{ section | default('RT')}}    </p>
</body>
</html>
